<!-- Top Bar -->
<div class="bg-gradient-to-r from-lime-300 to-green-800 fixed w-full z-50 text-white text-center text-base md:text-xl font-bold py-1">
  <p>"Work that speaks for itself."</p>
</div>

<!-- Navbar -->
<div class="fixed top-[34px] w-full bg-white shadow z-40">
  <nav class="flex items-center justify-between px-6 py-4 max-w-7xl mx-auto">
    
    <!-- Logo -->
    <h1 class="text-green-900 text-3xl md:text-4xl font-bold">🌿Little Leafy</h1>

    <!-- Desktop Links -->
    <div class="hidden md:flex items-center space-x-8">
      <a routerLink="/show" class="text-gray-900 text-lg font-medium hover:text-green-800">Home</a>
      <a routerLink="/store" class="text-gray-900 text-lg font-medium hover:text-green-800">Store</a>
      <a routerLink="/about" class="text-gray-900 text-lg font-medium hover:text-green-800">About Us</a>
      <a routerLink="/contact" class="text-gray-900 text-lg font-medium hover:text-green-800">Contact Us</a>
       <a href="https://mhima-sharma.github.io/Weather-App/" target="_blank">Check Weather</a>
      <!-- <a routerLink="/chat" class="text-gray-900 text-lg font-medium hover:text-green-800">CHAT</a> -->

      <a (click)="openCart()" class="text-gray-900 text-lg font-medium hover:text-green-800 cursor-pointer">Cart</a>
    </div>

    <!-- Mobile Menu Button -->
    <div class="md:hidden">
      <button (click)="toggleMobileMenu()" class="text-3xl text-green-900 focus:outline-none">
        ☰
      </button>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div *ngIf="isMobileMenuOpen" class="md:hidden bg-white shadow px-6 py-4 space-y-4">
    <a routerLink="/show" (click)="closeMobileMenu()" class="block text-gray-900 text-lg font-medium hover:text-green-800">Home</a>
    <a routerLink="/store" (click)="closeMobileMenu()" class="block text-gray-900 text-lg font-medium hover:text-green-800">Store</a>
    <a routerLink="/about" (click)="closeMobileMenu()" class="block text-gray-900 text-lg font-medium hover:text-green-800">About Us</a>
    <a routerLink="/contact" (click)="closeMobileMenu()" class="block text-gray-900 text-lg font-medium hover:text-green-800">Contact Us</a>
    <a href="https://mhima-sharma.github.io/Weather-App/" target="_blank">Check Weather</a>

    <a (click)="openCart(); closeMobileMenu()" class="block text-gray-900 text-lg font-medium hover:text-green-800 cursor-pointer">Cart</a>
  </div>
</div>
