<div class="relative h-[550px]">
    <div class="absolute inset-0 bg-gradient-to-r from-green-800/60 to-green-300/20 z-10"></div>
    <div class="bg-[url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk4Ni1iZy0wMi1rcWhlM3dpdC5qcGc.jpg')] bg-cover bg-center h-full w-full"></div>
    <div class="absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center">
      
      <h1 class="text-4xl md:text-6xl font-bold drop-shadow-lg pt-15 mt-20">Best Quality Plants
        Amazing Variety Of Plants Starting Just ₹200</h1>
      <p class="mt-4 text-lg md:text-xl drop-shadow-md pb-5">Grow green. Live clean.</p>
      <button class="bg-green-950 text-2xl text-white p-4 hover:bg-green-800 rounded-4xl">Shop Now</button>
    </div>
  </div>
<div class="flex justify-around mt-10">
    <div class="flex">
        <p class="text-5xl">🌱</p>
        <div>
          <h1 class="text-3xl font-bold">Plants Collection</h1>
          <p class="text-xl text-gray-500">Any plants for your space</p>
        </div>
    </div>
    <div class="flex">
        <p class="text-5xl">🚜</p>
        <div>
          <h1 class="text-3xl font-bold">Free Shipping</h1>
          <p class="text-xl text-gray-500">Free shipping on order</p>
        </div>
    </div>
    <div class="flex">
        <p class="text-green-500 text-5xl">⟳</p>
        <div>
          <h1 class="text-3xl font-bold">100% Money Back</h1>
          <p class="text-xl text-gray-500">If the item didn't suit you</p>
        </div>
    </div>
</div>
<div>
  <h1 class="text-4xl font-bold mt-10 text-center text-green-800"><i>We have varity of Plant</i></h1>
  <div class="flex  m-10">
   <div class="m-10 bg-gray-100 p-5 w-200 rounded-2xl">
    <img src="https://www.shutterstock.com/image-photo/orchids-small-tree-growing-sunrisegrowing-600nw-2463713555.jpg" alt="" >
    <h1 class="text-2xl pt-5 text-center font-bold">Beautiful Plant Varieties</h1>
    <p class="tex-sm text-center ">Every tiny sprout holds the promise of a mighty tree.</p>
   </div>
   <div class="m-10 bg-gray-100 p-5 w-200 rounded-2xl">
    <img src="https://cdn.shopify.com/s/files/1/0310/4050/3945/files/SSE_Blog_1_3.png?v=1719858621" alt="">
    <h1 class="text-2xl pt-5 text-center font-bold">Nurture with love</h1>
    <p class="tex-sm text-center ">Small roots today, deep roots tomorrow.</p>
   </div>
   <div class="m-10 bg-gray-100 p-5 w-200 rounded-2xl">
    <img src="https://5.imimg.com/data5/EW/ST/MY-31738953/aloe-vera-baby-plant-500x500.jpg" alt="">
    <h1 class="text-2xl pt-5 text-center font-bold">Gardening Accessories</h1>
    <p class="tex-sm text-center ">A little sunlight, a little water, and a lot of care make magic happen!</p>
   </div>

  </div>
</div>