<div class="bg-gray-200 p-10">
    <div class="flex justify-around items-center " >
        
    <div  class="w-50 ">
        <h1 class="text-green-900 text-4xl font-bold pr-15 pl-18">🌿Little Leafy</h1>
       <div class="ml-10 mt-4">
        <a href="" class="text-2xl m-2 text-black hover:text-green-900"> 🅾</a>
        <a href="" class="text-2xl m-2 text-black hover:text-green-900">[in]</a>
        <a href="" class="text-2xl m-2 text-black hover:text-green-900">𝕏</a>
        <a href="" class="text-2xl m-2 text-black hover:text-green-900">ⓕ</a>
       </div>
    </div>          
    <div class="w-50">
        <h1 class="text-2xl">Quick Links</h1> 
       <div class="flex flex-col mt-4 text-gray-500 text-xl">
        <a href="">introduction</a>
        <a href="">know more About Us</a>
        <a href="">Visit Store</a>
        <a href="">Let’s Connect</a>
       </div>
       
    </div>    
    <div class="w-50" >
        <h1 class="text-2xl">Important Links</h1>
          <div class="flex flex-col mt-4 text-gray-500 text-xl">
            <a href="">Privacy Policy</a>
            <a href="">know more About Us</a>
            <a href="">Shipping Details</a>
            <a href="">Terms & Conditions</a>
            <a href="">Media Kit</a>
          </div>
    </div>
    <div class="w-50">
        <h1 class="text-2xl">Get In Touch With Us For The Best Quality Plants & Succulents</h1>
        <p class="mt-4 text-gray-500 text-xl">We’d love to hear from you! Let’s connect.</p>
    </div>

    </div>
    <hr class="mt-5">
    <div class="flex text-gray-400 mt-4 ">
        <h1 class="mr-210">Copyright © 2025 🌿Little Leafy</h1>
        <p>Powered by 🌿Little Leafy</p>
    </div>
    <p class="mt-2 text-gray-500">MADE BY MAHIMA SHARMA WITH THE HELP OF TECH. TEAM SANCHI CONNECT ❤️</p>
    <i class="mt-2 text-gray-500 font-bold">Credit goes to Mr. Baltej Sir, Mr. Nirmal Sir and Ms. Vishali for designing this beautiful Project ❤️</i>
</div>
