<app-header></app-header>
<div >
  <div class="relative  bg-cover bg-center" style="background-image: url('https://img.freepik.com/premium-vector/abstract-background-pastel-colors_627230-60.jpg');">
      <!-- Dark overlay (optional) -->
    
      <!-- Text content -->
      <div class="relative z-10 flex flex-col items-center justify-center text-center h-full px-4">
        <h1 class="text-green-900 text-4xl md:text-5xl font-bold mb-4 p-40">Store</h1>
      </div>
    </div>
</div>
<app-plants-product></app-plants-product>
<app-need-help></app-need-help>
<app-footer></app-footer>